* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: bolder;
	font-family: 'Quattrocento Sans', sans-serif;
}

body{
	min-height: 100vh;

}

.navbar {
        display: flex;
        position: fixed;
        z-index: 1000;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 0;
        /*background-color:#439c77;*/
        /*height: 70px;*/
        height: 12vh;
        padding-bottom: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #21098f;
        align-items: center;
        color: white;
        top: 0;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li{
        margin: 5px;
        list-style-type: none;

    }
    .main-nav li a{
        margin: 5px;
        list-style-type: none;


    }

    .nav-links {
        margin-left:40px;
        text-decoration: none;
        /* font-size: 20px; */
    }

    .logo {
        margin-top: 0;
        height: 60px;
        width: 60px;
       	margin-left:20px;
        font-size: 15px;
        font-family: sans-serif;
        display: flex;
        transform: rotate(-45deg);
        justify-content: center;
        color:#21098f;
        align-items: center;
        border-radius: 100%;
        background-color:white;
    }


  
    li a:hover {
        color: yellow;
        padding-top: 10px;
        padding-bottom: 10px;

    }
    .logo:hover{
        transform: rotate(-45deg);
        color:white;
        background-color:#21098f;
        border: solid white;
    }


a{
	text-decoration: none;
	/* font-size: 20px; */
}
li a{
    color: white;
}
    
 
.body-Part{
	margin-top:80px;
	min-height:100vh;
	display: flex;
}


.body-left-part{
    width: 50%;
    /* it should use relative so that we can add */
    position: relative; 
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../assets/poli.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.body-left-part::before{
    position: absolute;
    background-color: blue;
    content: " ";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    z-index: 0;
    

}
.body-right-part{

	width: 50%;
}

.inner-part{
	margin-top: 10px;
    z-index: 10;
	color: white;
	font-weight: bolder;
	font-family: 'Quattrocento Sans', sans-serif;
}

.inner-part p{
    margin-top: 50px;
    
}
p a{
    color: yellow;
}

.label{
    color: #21098f;
}

.body-right-part{
    width: 50%;
    position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../assets/er.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    margin-left: 1%;
}

.body-right-part::before{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    content: " ";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;

}


.footer {
   position: scroll;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   background-color: #21098f;
   color: white;
   height: 12vh;
   display: flex;
   align-items: center;
   justify-content: center;
}


